.postAd.container {
    margin: 0 auto;
    margin-top: 50px !important;
    max-width: 1200px;
    padding: 0 !important;
    font-family: 'Segoe UI', Roboto, sans-serif;
    color:#222;
    background: #fff ;
    filter:  drop-shadow(0 0 10px #0004);
    border-radius: 0;
    padding-bottom: 2rem !important;
 }

 .postAd  h2 {
    background: linear-gradient(#fff0,#fff), url(https://images.unsplash.com/photo-1705077044082-bebb7f597cee);
    background-size: cover;
    color: #fff;
    text-shadow: 0 0 2px #000;
    padding: 2rem 3rem;
 }

 .postAd form {
    padding: 0 2rem;
 }

 .postAd button {
    background: var(--accent-color) !important;
    transition: .2s;
    font-weight: bold;
}


.postAd button:hover {
    background: color-mix(in srgb, var(--accent-color), #000 20%) !important;
}

.uploadLabel {display: none !important;}

.postAd .checkboxLabel {
    display: flex !important;
}
