nav {
    position:sticky;
    top: 0;
    background-color: #000 !important;
    z-index: 1;
    border: none !important
    ;
}

nav a {
    color: #fff !important;
    font-weight: lighter !important;
}

nav span {
    color: #bbb !important;

}

nav a:hover {
    color: #fff !important;
    text-decoration: underline !important;
    font-weight: lighter !important;
}

nav input {
    border-radius: 0px !important;
    background-color: #333;
    border: none !important;
    color: #ddd;
    min-width: 0px !important;
    padding: 6px 0 !important;
    width: 0px !important;
    transition: .2s;
}

nav form > * {
    margin: 0 !important;
}

nav form:hover > input, nav form:active > input, nav form:focus > input, input:active, input:focus  {
    padding: 6px 6px !important;
    min-width: 180px !important;

}

nav button {
    background: var(--accent-color) !important;
    transition: .2s;
    font-weight: bold;
}


nav button:hover {
    background: color-mix(in srgb, var(--accent-color), #000 20%) !important;
}

